
/*
由于使用了weui，这里只有一个less文件，如果是大型项目，按containers来分文件
*/
/************common****************/
* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

body {
  font-family: Microsoft JhengHei,-apple-system-font,Helvetica Neue,sans-serif;
}

.show {
  display: block!important;
}
.hide {
  display: none!important;
}

.v-show {
  visibility: visible!important;
}

.v-hide {
  visibility: hidden!important;
}

.toast {
  display: none;
}

/***************components******************/
.article-list {
  .user-info {
    display: flex;
    align-items: Center;
    .avatar {
      width: 32px;
      height: 32px;
      background: no-repeat center center;
      background-size: cover;
    }
    .name {
      color: #586C94;
      font-size: 12px;
      margin-left: 6px;
    }
  }

  .desc {
    color: #000;
    font-size: 14px;
    line-height: 1.2;
  }
  .ctrl-item {
    width: 90px;
    .ion-trash-b {
      font-size: 20px;
      float: right;
      color: #f43530;
    }
  }
}

/***************containers*****************/
#app-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #eee;
  .weui-tab__panel {
    &.full {
      padding-bottom: 0px;
    }
  }
  .weui-tabbar {
    .weui-tabbar__item {
      .weui-tabbar__label {
        //line-height: 1;
        font-size: 20px;
      }
    }
  }
}

.sign-page {
  height: 100%;
  background: #eee;
  padding: 0 15px;
  h1 {
    padding: 30px 0;
    font-weight: 400;
    font-size: 34px;
    color: #3cc51f;
    text-align: center;
  }
  .input-list {
    background: #fff;
    border-radius: 4px;
    .item {
      &+.item {
        border-top: 1px solid #eaeaea;
      }
      input {
        width: 100%;
        height: 44px;
        color: #000;
        border: none;
        background: 0 0;
        padding-left: 15px;
        font-size: 16px;
        -webkit-appearance: none;
      }
    }
  }
  .ctrl {
    margin-top: 15px;
    .bottom {
      color: #888;
      text-align: right;
      margin-top: 15px;
    }
  }
}

.home-page {

}

.my-page {
  .my-header {
    height: 100px;
    background: url('../images/my-bg.jpg') no-repeat;
    background-size: cover;
    .mask {
      height: 100%;
      padding: 20px 15px;
      z-index: 2;
      background-color: rgba(0,0,0,.5);
      .avatar {
        width: 60px;
        height: 60px;
        border: 2px #fff solid;
        border-radius: 3px;
        background: no-repeat center center;
        background-size: cover;
      }
      .info {
        margin-left: 6px;
        color: #fff;
        .setting-btn {
          font-size: 12px;
          color: #fff;
          border-color: #fff;
          padding: 0 .8em;
          line-height: 1.7;
        }
      }
    }
  }

  .compose-btn {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 20px;
    bottom: 55px;
    border-radius: 50%;
    background: #1aad19;
    color: #fff;
    justify-content: center;
    display: -webkit-flex;
    align-items: center;
    font-size: 28px;
    box-shadow: 0 2px 6px rgba(0,0,0,.4);
  }
}

.edit-page {
  .weui-cells_form {
    margin-top: 0;
    .edit-wrap {
      margin-top: 0;
    }
  }

}

.setting-page {
  .preview-img {
    width: 100px;
    height: 100px;
    background: no-repeat center center;
    background-size: cover;
  }
}